<!DOCTYPE html>
<html>
<head>
	<title>EVT-NANTES</title>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./main.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<!--<pre>{{JsonObjectApi}}</pre>-->
		
		<div id="container">
			<div class="box" v-for="item in JsonObjectApi" :key="item.recordid">
				<ul>
					<fieldset>
						<legend>{{ item.fields.rubrique}}</legend>
						<li ><img class="image_box" :src="item.fields.media_1"/></li>

						<img v-if="!item.itemclick" @click="box_click(item)" class="plus" src="./images/plus.png"/>
						<div class="info_event" v-if="item.itemclick">
							<li v-if="item.fields.gratuit='Oui'"> Gratuit </li>
							<li>Lieu : {{item.fields.lieu_quartier}}</li>
							<li>Date : {{ item.fields.date}}</li>
							<li>Debut : {{item.fields.heure_debut}}</li>
							<li>Description : {{ item.fields.description}}</li>
						</div>
					</fieldset>
				</ul>
			
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	
	var vm=new Vue({
		el:'#app',
		//props:['prop1','prop2'],
		//components:{component1,component2},
		data:function(){
			return{
				JsonObjectApi:'',
				url:'https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_agenda-evenements-nantes-nantes-metropole&facet=emetteur&facet=rubrique&facet=lieu&facet=ville'
			}
		},
		methods:{
			box_click:function(d){
				console.log(d)
				d.itemclick=true;
			}
		},
		created:function(){
			
		},
		mounted:function(){
			axios
      			.get(this.url)
      			.then((response) =>{
      					this.JsonObjectApi = response.data.records;
      					this.JsonObjectApi.map(function(i){
      						i.itemclick=false;
      					})
      			})
      			//.then(for(var o in this.JsonObjectApi)this.JsonObjectApi[o].itemclick=false;)


      			
      		
		},
		updated:function(){
			
		},
		watch:{
			JsonObjectApi:{
				handler:function(newValue){console.log(newValue)},
				deep:true
			},
			
		}


	})

</script>
<style type="text/css">
	#container{
		width: 100%;
		height: 50px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.box{
		width: 400px;
		margin: 0 auto;
	}
	.image_box{
		border: 0px black solid;
		border-radius: 5%;
	}

	.box>ul{
		list-style: none;
	}

	.plus{
		width: 10%;
		margin-left: 45%;
	}



</style>
</html>